body{
    background-color: #e7b1b1;
}
.header{
    text-align: center;
    font-size:2vmax;
    color:#900060;
}
div.gallery{
    width:100%;
}
div.gallery div.el{
    margin:5px;
    padding:5px;
    border:1px solid #00ff2a;
    width:30%;
    float:left;
    background-color: #947b4d;
    box-shadow: 5 px 5 px 5 px #ffec99
}
div.gallery div.el img{
    width:100%;
}
.btn-go-back{
clear:both;
text-align:center;
font-size:1.5vmax;
text-decoration:none;
color:#ffa600;
}
.btn-go-back a{
    text-decoration: none;
    color:#ffa600
}